html * {
  /* font-size: 14px; */
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  color: white;
}

h1,
h2 {
  margin: 0 0 0 10px;
  padding-left: 10px;
}
p {
  padding: 5px 0 5px 10px;
  margin: 0;
}

h1,
h2 {
  padding: 1em 0;
}

.App {
  height: 100vh;
  /* display: flex;
  flex-flow: column; */
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  /* flex: 1; */
  height: 25%;
}

/*pages*/

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* height: 100%;
  width: 100%; */
}

.currentProjects {
  height: 100%;
  width: 100%;
}

.currentProjects {
  z-index: 1;
}

.backLogList {
  z-index: 2;
}

.projectEditor {
  z-index: 3;
}

.log {
  z-index: 4;
}

/*material UI components*/

.sliderStyle {
  margin: 0;
}
